{% extends "base.html" %}

{% block title %} - Option{% endblock %}

{% block extra_script %}
<script type="text/javascript">

    //選取全部
    function checkAll(){
        if ( $("#allcheck").is(':checked') ){
            $("#wordtb input:checkbox.cbWord").each(function() {
                $(this).attr("checked", true);
            }); 
            //$(".cbWord").attr("checked", true);
        }
        else{
            $("#wordtb input:checkbox.cbWord").each(function() {
                $(this).attr("checked", false);
            });          
            //$(".cbWord").attr("checked", false);
        }
    }

    //刪除
    function delWord(word){
	    alert('delete');
	    myPost("word/delete/"+word, "", function(data){
			//alert(data);
			var tr = $('#word_'+word);
			tr.css("background-color","#FF3700");
			tr.fadeOut(400, function(){
				tr.remove();
			});
			//alert("return");
			return false;
	    });
    }
    
</script>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <!--<div id='totalNum' align='center'>共{#{ words|count }#}筆</div>-->
    <div id='totalNum' align='center'>共{{ words.count() }}筆</div>

    <table id="wordtb" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" id="allcheck" name="allcheck" onclick="checkAll()"></th>
                <th>#</th>
                <th>{{ _("單字") }}</th>
                <th>{{ _("內容") }}</th>
                <th>{{ _("熟悉度") }}</th>
                <th>{{ _("日期") }}</th>
                <th>{{ _("刪除") }}</th>
            </tr>
        </thead>
        <tbody>
        {#
            {% for key in words %}
                <tr>
                    <td><input type="checkbox" class="cbWord" name="user_active_col[]" value="{{ key }}"></td>
                    <td>{{ loop.index }}</td>
                    <td>{{ key }}</td>
                    <td>{{ words[key]['text'] }}</td>
                    <td>{{ key }}</td>
                    <td>{{ key }}</td>
                    <td><button id="del_{{ key }}">Delete</button>
                </tr>
            {% endfor%}
		#}

            {% for word in words %}
                <tr id="word_{{ word['word'] }}">
                    <td><input type="checkbox" class="cbWord" name="user_active_col[]" value="{{ word['word'] }}"></td>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{url_for('word.show', word=word['word'])}}">{{ word['word'] }}</a></td>
                    <td>{{ word['word_info']['text']|truncate(50, True) }}</td>
                    <td>{{ word['familiar'] }}</td>
                    <td>{{ word['date'] }}</td>
                    <td><button onclick="delWord('{{ word['word'] }}')">Delete</button>
                </tr>
            {% endfor%}
        </tbody>
    </table>
{% endblock %}
