Babel==0.9.6
Flask-Babel==0.8
Flask-WTF==0.8.2
WTForms==1.0.2
flask==0.9
flask-login==0.1.3
flask-sqlalchemy==0.16
## FIXME: could not find svn URL in dependency_links for this package:
flup==1.0.3.dev-20110405
gunicorn==0.17.4
jinja2==2.6
pil==1.1.7
pytz==2013b
speaklater==1.3
sqlalchemy==0.7.9
werkzeug==0.8.3
