<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>WordGo{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery-ui/css/smoothness/jquery-ui-1.10.3.custom.css') }}">
    <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.9.2.custom.css') }}"> -->
    <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='smoothness/jquery-ui-1.8.21.custom.css') }}"> -->
    <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}"> 
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.2.js') }}"></script> -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="{{ url_for('static', filename='jquery-ui/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-bootstrap/js/jquery-ui-1.9.2.custom.min.js') }}"></script> -->

    {% block extra_script %}
    {% endblock %}

    <!-- Bootstrap -->
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
            //background-color:#EFF1F1;
        }      
    </style>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}">

    {% block extra_css %}
    {% endblock %}
	
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a class="brand" href="{{ url_for('index') }}">WordGo</a>
              <div class="nav-collapse collapse">
                  <ul class="nav">
                      <li><a href="{{ url_for('about.me') }}">{{_("遊樂場")}}</a></li>
                      <li><a href="{{ url_for('about.me') }}">{{_("遊樂場")}}</a></li>
                      <li><a href="{{ url_for('about.me') }}">{{_("遊樂場")}}</a></li>
                      <li><a href="{{ url_for('about.me') }}">{{_("遊樂場")}}</a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{_("關於")}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{ url_for('about.me') }}">{{_("about me")}}</a></li>
                          <li><a href="{{ url_for('about.site') }}">{{_("about this site")}}</a></li>
                        </ul>
                      </li>
                  </ul>

            		
                {% if g.user %}
                  <ul class="navbar pull-right">
                    <!-- <a href="{{ url_for('logout') }}">[{{ g.user.account }}] Logout</a> -->
                    <!-- <a href="{{ url_for('logout') }}">{{ gettext('[%(user)s] Logout',user=g.user.account) }}</a> -->
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img class="smallHeadImg" alt="Smiley face" height="36" width="36" src="{{ url_for('getHeadImg', username=g.user.account, type='s') }}"/>
                        {{ _('[%(user)s]',user=g.user.account) }} <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" >
                        <li><a href="{{ url_for('article.new') }}">{{_("新增文章")}}</a></li>
                        <li><a href="{{ url_for('user.profile') }}">{{_("個人資訊")}}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('logout') }}">{{_("登出")}}</a></li>
                      </ul>
                    </li>
                  </ul>
                {% else %}
                <div class="navbar-text pull-right">
                  <a href="{{ url_for('getSignup') }}">{{_("Signup")}}</a> |
                  <a href="{{ url_for('getSignin') }}">{{_("Login")}}</a>
                </div>
                {% endif %}

              </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
		
		 {% block content %}
        {% endblock %}

      <hr>

      <footer>
        <p align="center">&copy; Cello's Studio 2013</p>
      </footer>

    </div> <!-- /container -->
	
	
	
	
      <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
    -->
	
</body>
</html>
