{% extends "base.html" %}

{% block extra_script %}
	<script type="text/javascript">

		function getHotList(){
			$("#hots").empty();
			$.get("hotlist", function(data){
				//var str_ = data.substring(1,data.length-1);
				//alert(str_);
				json_ = $.parseJSON(data);//data.substring(1,data.length-1);
				//alert(json_);
				$.each(json_, function(i,val){
					//alert(val.ARTICLE);
					var str_ = "<li>"+ val.content +"</li>"
					$("#hots").append(str_);
				});
			});

		}

		//getHotList();

	</script>
{% endblock %}

{% block extra_css %}
    <style type="text/css">
/*        .hero-unit {
            background-color:#E3F7FF;
        }*/      
    </style>
{% endblock %}

{% block content %}
	<br/>
	<div class='hero-unit'>
		<h1>WordGo</h1>
        <p>
        	沃德狗</br>
        	sdfjslkfjsoifjoiefoisejfsoifjljioj</br>
        	asfsdfsla;jeiofjwoiefjslkjfsoief
        </p>
        <a id="moreBtn" href="#" class="btn btn-primary btn-large">More &raquo;</a>
	</div>

	{% for message in get_flashed_messages() %}
	<div class="alert alert-block fade in alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div class="alert-info">{{ message }}</div>
	</div>
	{% endfor %}

	<!--
	<div class='login'>
		<form action="{{ url_for('login') }}" method="post">
		  <dl>
			<dt>Username: </dt>
			<dd><input name="username" type="text" value="{{ request.form.username }}"> </dd>
			<dt>Password: </dt>
			<dd><input name="password" type="password"> </dd>
			<dd><input value="Login" type="submit">
			</dd>
		  </dl>
		</form>
	</div>
	-->
	
	<div id='public row-fluid'>
	這邊是公告區	
	</div>
	<!--
	<form action="{{ url_for('upImg') }}" method="POST" enctype="multipart/form-data">
	<input type="file" name="file" />
	<input type="submit" value="Upload" />
	</form>
	-->

	<div class="row">
		aaaaa
	</div>

	<div id="loginDlg" title="" style="display:none;"></div>
{% endblock %}

